.header {
  background: $color-default-white;
  z-index: 100;

  @include viewport--md {
    margin-bottom: 0;
  }
}

.header__wrapper {
  padding: 15px 25px;


  @include viewport--sm {
    padding: 15px 16px;
  }
}

.header__logo {
  display: inline-block;
  vertical-align: baseline;
  padding: 10px;
  animation: transparency $default-transition-settings;
  transition: 0.8s;
  position: relative;
  outline: none;

  @include viewport--lg-only {
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 52%;
      transform: translateX(-52%);
      width: 0;
      height: 2px;
      background: $color-neon-blue;
      transition: 0.4s;
    }

    &:hover .header__icon,
    &:focus .header__icon {
      transform: scale(1.1);
    }

    &:hover::after,
    &:focus::after {
      width: calc(100%);
    }

    &:active,
    &:active .header__icon {
      opacity: 0.5;
      transform: scale(1);
    }
  }
}

.header__icon {
  vertical-align: top;
  transition: 0.4s;
}

.header__text {
  display: none;
}

.header--loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__logo {
    padding: 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    animation: fromtop $default-transition-settings;
    pointer-events: none;

    @include viewport--md {
      max-width: 550px;
    }
  }

  .header__icon {
    width: 100%;
    height: auto;
  }

  .header__text {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 24px;
    line-height: 26px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation: transparency 4s ease;

    @include viewport--sm {
      font-size: 20px;
      line-height: 22px;
    }
  }
}
