.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 190px;

  @include viewport--md {
    padding-bottom: 100px;
  }
}

.intro__heading {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  color: $color-neon-blue;
  max-width: 580px;
  margin-right: 10px;
  animation: fromleft $default-transition-settings;
  display: none;

  @include viewport--md {
    margin-right: 0;
    padding-top: 0;
  }

  @include viewport--sm {
    font-size: 48px;
    line-height: 48px;
    max-width: 450px;
  }
}

.intro--show {
  .intro__heading {
    display: block;
  }

  .intro__details {
    display: block;

    @include viewport--md {
      display: flex;
    }
  }
}

.intro--nojs {
  padding-bottom: 35px;

  .intro__heading {
    display: block;
  }

  .intro__details {
    display: block;

    @include viewport--md {
      display: flex;
      position: static;
      transform: translateX(0);
      margin-top: 40px;
      padding-bottom: 40px;
      animation: frombottom $default-transition-settings;
    }
  }
}
