.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 190px;
}

.intro__heading {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  color: $color-neon-blue;
  max-width: 580px;
  margin-right: 10px;

  &--opened {
    display: block;
    animation: fromleft 1.5s ease;
  }
}

@keyframes fromleft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  40% {
    transform: translateX(30px);
  }

  70% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes frombottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  40% {
    transform: translateY(-30px);
  }

  70% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
