.main {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 110px);
    background: url("../img/bg/bg-a-letter.svg") no-repeat center top / contain;
    z-index: -1;

    @include viewport--md {
      display: none;
    }
  }
}
