// Colors

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;

// Base

$color-neon-blue:                 #2c39f2;

// Typography
//---------------------------------

$font-family--neue-machina:         "Neue Machina", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       1.5s ease;
$icons-dino-transition:             2.5s ease infinite;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;
